* {
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px -6px rgba(0,0,0,1);
    -webkit-box-shadow: 2px 2px 10px -6px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 10px -6px rgba(0,0,0,1);
    border-radius: 15px;
    .result-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
        background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
        border-radius: 15px;
        p {
            color: hsl(241, 100%, 89%);
            text-align: center;
            font-size: 18px;
        }
        .percent {
            font-size: 17px;
            margin-top: 20px;
        }
        .obtained-marks{
            width: 150px;
            height: 150px;
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
            h1 {
                color: white;
                font-size: 3rem;
            }
            p {
                font-size: 14px;
            }
        }
        h3 {
            color: white;
            font-size: 1.4rem;
        }
    }
    .summary-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
        h3 {
            width: 100%;
            align-items: flex-start;
        }
        .subjects {
            width: 100%;
            align-items: center;
            div:not(.subject) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 12px;
                margin-top: 10px;
                border-radius: 7px;
                .subject {
                    display: flex;
                    flex-direction: row;
                    h4 {
                        margin-left: 10px;
                    }
                }
            }
            .reaction {
                background: hsla(0, 100%, 67%, 0.06);
                .subject {
                    h4 {
                        color: hsl(0, 100%, 67%);
                    }
                }
            }
            .memory {
                background: hsl(39, 100%, 56%, 0.06);
                .subject {
                    h4 {
                        color: hsl(39, 100%, 56%);
                    }
                }
            }
            .verbal {
                background: hsl(166, 100%, 37%, 0.06);
                .subject {
                    h4 {
                        color: hsl(166, 100%, 37%);
                    }
                }
            }
            .visual {
                background: hsl(234, 85%, 45%, 0.06);
                .subject {
                    h4 {
                        color: hsl(234, 85%, 45%);
                    }
                }
            }
        }
        .continue {
            width: 100%;
            font-size: 18px;
            background: linear-gradient(hsla(256, 72%, 46%, 1), hsl(241, 81%, 54%));
            border: none;
            padding: 12px 0;
            border-radius: 30px;
            color: white;
            margin-top: 20px;
        }
        button:hover {
            background: hsl(224, 30%, 27%);
            cursor: pointer;
        }
    }
}

.attribution {
    position: fixed;
    bottom: 0%;
}

@media (max-width: 400px) {
    main {
        width: 330px;
        margin: 0px;
        flex-direction: column;
        .result-container {
            width: 100%;
        }
        .summary-container {
            width: 100%;
        }
    }
    .attribution {
        display: none;
    }
}

@media (min-width: 400px) and (max-width: 575px) {
    main {
        width: 375px;
        margin: 0px;
        flex-direction: column;
        .result-container {
            width: 100%;
        }
        .summary-container {
            width: 100%;
        }
    }
    .attribution {
       text-align: center;
    }
}

@media (min-width: 575px) and (max-width: 768px) {
    main {
        width: 500px;
        margin: 0px;
        flex-direction: column;
        .result-container {
            width: 100%;
        }
        .summary-container {
            width: 100%;
        }
    }
    .attribution {
        text-align: center;
    }
}

